@font-face {
    font-family: futura;
    src: url(./tccc-unitytext-bold.woff2);
}

* {
    padding: 0;
    margin: 0;
    font-family: futura;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

.cursor {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    pointer-events: none;
    background-color: lightcoral;
    position: fixed;
    z-index: 999999999999999;
}



.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    position: relative;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.c {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    position: absolute;
    z-index: 9;
}

.circle {
    height: 300vh;
    width: 300vh;
    border-radius: 50%;
    background-image: url(./iphone.webp);
    background-size: cover;
    margin-top: 50vh;
    position: absolute;
}

.home {
    width: 100%;
    height: 100vh;
    /* padding: 50px 100px; */
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    background-color: black;
    color: white;
    /* position: relative; */
   overflow: hidden;
}
.content {
    padding: 50px 100px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.home .left, .home .right {
    z-index: 10;
    /* padding: 50px 100px; */
    
}

.home .left {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


.home .left p span {
    padding: 5px 35px;
    background-image: url(./span.webp);
    background-size: cover;
    overflow: hidden;
    border-radius: 50px;
}

.home .left h1 {
    font-size: 6vw;
    line-height: 1;
    letter-spacing: -4px;
}

.home .left h1 span {
    color: lightcoral;
    font-weight: 900;
}

.home .left p {
    margin-top: 2vw;
    font-size: 1.1vw;
    letter-spacing: -1.6px;
    color: rgba(255, 255, 255, 0.834);
}

.home .right img {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    overflow: hidden;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1cm;
    justify-content: center;
    gap: 20px;
}

.icon i {
    font-size: 2.5vw;
    color: black;
    cursor: pointer;
    background-color: white;
    padding: 10px 12px;
    border-radius: 50%;
}


.page-2 {
    min-height: 100vh;
    width: 100%;
    background-color: black;
    z-index: 10;
    padding: 20px 25px;
    padding-bottom: 1cm;
    display: flex;
    flex-wrap: wrap;
}

.page-2 h1 {
    margin: 2vw 0;
    padding: 1vw 1vw;
    background-color: grey;
    border-radius: 10px;
    /* transform: translate(200%, -50%); */
}

.page-2 p {
    text-align: center;
}

.page-2 .l-krish {
    height: 40vh;
    width: 100%;
    border-radius: 10px;
    background-color: lightslategray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}
/* 
.page-2 .l-krish img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
} */

.page-2 .r-shaurya {
    height: 40vh;
    width: 100%;
    border-radius: 10px;
    background-color: lightslategray;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}

.page-2 .l-ansh {
    height: 40vh;
    width: 100%;
    border-radius: 10px;
    background-color: lightslategray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}

.page-2 .r-praveen {
    height: 40vh;
    width: 100%;
    border-radius: 10px;
    background-color: lightslategray;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
}

.page-2 .l-ashu {
    height: 40vh;
    width: 100%;
    border-radius: 10px;
    background-color: lightslategray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    
}

.page-2 img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}



@media (max-width:600px) {

/* PAGE 1 KA ANIMATION */


    .wrapper {
        overflow: hidden;
    }

    .cursor {
        display: hidden;
        scale: 0;
        opacity: 0;
    }

    .circle {
        margin-top: 180vh;
        height: 200vh;
        width: 200vh;
    }

    .home {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120vh;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .home .left {
        margin-top: 2cm;
    }

    .home .left h1 {
        font-size: 10vw;
    }

    .home .left p {
        font-size: 2.1vw;
        padding-top: .2cm;
    }

    .home .left i {
        margin-top: -.5cm;
    }

    .home .right img {
        height: 70%;
        width: 70%;
        margin-top: .5cm;
        margin-left: 1.5cm;
    }


    /* PAGE 2 KA ANIMATION */


    

    .page-2 img {
        height: 150px;
        width: 150px;
    }

    .page-2 p {
        font-size: 2.5vw;
        text-align: center;
    }

    .wrapper i {
        font-size: 5vw;
    }

}
